<!-- <div class="container-toolbar-title">
    <mat-toolbar>
        <span>Generar Cotización</span>
    </mat-toolbar>
</div>

<mat-divider></mat-divider>

<br>

<div fxLayout="column" fxLayoutAlign="center" id="element-to-export">
    <div fxLayout="column" fxLayoutAlign="center" fxFlex="20">
        <img src="../../../../assets/img/san_andres_edit.png" alt="">
    </div>

    <br>

    <div fxLayout="column" fxLayoutAlign="center" fxFlex="20">
        <h5>Estimado(a)</h5>
        <h4>Luis Maldonado</h4>
    </div>
    <br>
    <div fxLayout="column" fxLayoutAlign="center" fxFlex="20">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of 
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <br>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of 
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <br>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of 
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</div>

<div>
    <button mat-raised-button color="primary" class="btn-header">Generar</button>
</div> -->

<div class="container">
    <div class="row">
      <div id="htmlData">
        <h2>Lista de Personajes</h2>
        <table class="table">
            <thead class="table-danger">
              <tr>
                <th scope="col">Personaje</th>
                <th scope="col">Nacimiento</th>
                <th scope="col">Estado</th>
                <th scope="col">Nickname</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let personajes of breakingBadData">
                <th>{{personajes.name}}</th>
                <td>{{personajes.birthday}}</td>
                <td>{{personajes.status}}</td>
                <td>{{personajes.nickname}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  
  
  <div>
    <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
  </div>
