<div class="container">
    <mat-toolbar>
        <span>Crear Cotización</span>
    </mat-toolbar>
</div>

<mat-divider></mat-divider>

<br>

<div class="container-card" fxLayout="row" fxLayoutAlign="center">

    <div fxLayout="column" fxLayoutAlign="center" fxFlex="92">
        <div class="div-header">
            <h3>Informacion Cotizante</h3>
        </div>
        <mat-card fxLayout="row" class="mat-elevation-z1" class="card">
            <div fxLayout="column" fxFlex="90" fxLayoutAlign="end">
                <div fxLayout="row" fxLayoutGap="25px" class="containerrow">
                    <div fxFlex="30"> 
                        <h4><b>Nombres: </b> {{ nombres }} </h4>

                        <h4><b>Apellidos: </b> {{ apellidos }} </h4>

                        <h4><b>Email: </b> {{ email }} </h4>

                        <h4><b>Identificación: </b> {{ identificacion }} </h4>

                        <h4><b>Fecha Nacimiento: </b> {{ fechaNacimiento }} </h4>
                    </div>

                    <div fxFlex="30">
                        <h4><b>Fecha Entrada: </b> {{ fechaEntrada }} </h4>

                        <h4><b>Fecha Salida: </b> {{ fechaSalida }} </h4> 

                        <h4><b>Cantidad Adultos: </b> {{ cantidadAdultos }} </h4>

                        <h4><b>Cantidad Niños: </b> {{ cantidadInfantes }} </h4>

                        <h4><b>Cantidad Infantes: </b> {{ destino }} </h4>
                    </div>

                    <div fxFlex="40">
                        <h4 class="justificado"><b>Observaciones: </b> {{ observaciones }} </h4>
                    </div>

                    <!-- <div>
                        <ul>
                            <li *ngFor="let dato of listaDatos">
                                <div>
                                    {{dato.data.nombres}}
                                </div>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>

            <div fxLayout="column" fxFlex="10">
                <button mat-raised-button color="primary" class="btn-header" (click)="openDialogCrearInfoCotizante()">Crear</button>
                <button mat-raised-button color="primary" class="btn-header" (click)="editarInfoCotizante()" (click)="openDialogCrearInfoCotizante()">Editar</button>
                <button mat-raised-button color="primary" class="btn-header" (click)="eliminarInfoCotizante()">Eliminar</button>
            </div>
        </mat-card>

        <mat-divider></mat-divider>

        <br>

        <div class="div-header">
            <h3>Aéreos</h3>
        </div>
        <mat-card fxLayout="row" class="mat-elevation-z1" class="card">
            <div fxLayout="column" fxFlex="90" fxLayoutAlign="end center">
                <table>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div fxLayout="column" fxFlex="10">
                <button mat-raised-button color="primary" class="btn-header" (click)="openDialogAgregarAereo()">Agregar</button>
            </div>
        </mat-card>

        <mat-divider></mat-divider>

        <br>

        <div class="div-header">
            <h3>Servicios</h3>
        </div>
        <mat-card fxLayout="row" class="mat-elevation-z1" class="card">
            <div fxLayout="column" fxFlex="90" fxLayoutAlign="end center">
                
            </div>

            <div fxLayout="column" fxFlex="10">
                <button mat-raised-button color="primary" class="btn-header" (click)="openDialogAgregarServicio()">Agregar</button>
            </div>
            
        </mat-card>
        <br>
        
    </div>
</div>