.container-toolbar-title {
    margin-bottom: 20px;
}

h3{
    font-size: 20px;
}

.mat-card {
    margin-bottom: 20px;
}

label {
    font-size: 20px;
    font-weight: 500;
}

p {
    width: 100%;
    margin-top: 12px;
}

.example-full-width {
    width: 100%;
    margin-bottom: -15px;
    margin-top: -5px;
}

// .btn-form {
//     width: 10%;
//     margin: 15px;
//     padding: 1px;
// }

.btn-form-footer {
    width: 10%;
    margin-left: 3px;
    margin-right: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-header {
    margin: 7px;
}

.mat-raised-button:hover {
    background-color: #303f9f
}

.titulo {
    color: #3f51b5;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 7px 20px 7px 20px;
}

b {
    font-weight: 500;
}

.justificado {
    text-align: justify;
}

.containerrow {
    margin-right: 20px;
}

.div-header {
    background-color: #3f51b5;
    box-sizing: content-box;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card {
    padding: 11px 30px 11px 30px;
}

.linea {
    display: inline-block;
}

table {
    width: 100%;
    margin-bottom: 17px;
}

.modal-dialog {
    width: 100%;
}

.modal-header {
    background: #3f51b5;
}

.modal-content {
    max-height: 80%;
}

h5 {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 0px 10px 0px 10px;
}

.modal-body {
    padding: 17px 25px 8px 25px;
}

.ckeditor-padding {
    padding-bottom: 10.2px;
}

.cursor-pointer {
    cursor: pointer;
}

.color-edit {
    color: #2196f3;
}

.color-edit:hover {
    color: #1976d2;
}

.color-delete {
    color: #f44336;
}

.color-delete:hover {
    color: #d32f2f;
}

::ng-deep .mat-icon{
    
    text-align: center;
}

.padding-edit{
    padding: 6px 5px 0px 5px;
}

.padding-delete{
    padding: 6px 30px 0px 15px;
}

.th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding-top: 15px;
}

//sombra del modal

.modal{
    background: rgba(0, 0 , 0, .32);
}


