.container-toolbar-title {
    margin-bottom: 20px;
}

label {
    font-size: 20px;
    font-weight: 500;
}

p {
    width: 90%;
}

.example-full-width {
    width: 100%;
    margin-bottom: -15px;
    margin-top: -5px;
}

.btn-form {
    width: 30%;
    margin: 15px;
    padding: 1px;
}

.btn-header {
    margin: 7px;
    width: 135px;
}

.mat-raised-button:hover {
    background-color: #303f9f
}

.titulo {
    color: #3f51b5;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 7px 20px 7px 20px;
}

.div-header {
    background-color: #3f51b5;
    box-sizing: content-box;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card {
    padding: 11px 30px 11px 30px;
}

table {
    width: 100%;
    margin-bottom: 17px;
}

.cursor-pointer {
    cursor: pointer;
}

.color-view {
    color: #b0bec5;
}

.color-view:hover {
    color: #78909c;
}

.color-edit {
    color: #2196f3;
}

.color-edit:hover {
    color: #1976d2;
}

.color-delete {
    color: #f44336;
}

.color-delete:hover {
    color: #d32f2f;
}

.color-save {
    color:#3f51b5;
}

.color-save:hover {
    color: #303f9f;
}

.color-recover {
    color: #4caf50;
}

.color-recover:hover {
    color: #388e3c;
}

::ng-deep .mat-icon{
    
    text-align: center;
}

.padding-icon{
    padding: 6px 30px 0px 5px;
}

.padding-delete{
    padding: 6px 30px 0px 15px;
}

.th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding-top: 15px;
}

.mat-form-field {
    width: 43.5%;
}

//alto de la lista desplegable
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//     padding: 0.2em 0 0.8em 0;
// }
