<div fxLayout="row" class="container">
    <mat-toolbar fxLayout="row">
        <div fxLayout="row" fxFlex="20">
            <span>Cotizaciones</span>
        </div>
        <div fxLayout="row" fxFlex="80" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" class="btn-header" routerLink="/crear_cotizacion">Crear Cotización</button>
        </div>
    </mat-toolbar>
</div>

<mat-divider></mat-divider>

<br>

<div class="container-card" fxLayout="column" fxLayoutAlign="center">

    <div fxLayout="column" fxLayoutAlign="center">
        <div class="div-header">
            <h3>Informacion Cotizante</h3>
        </div>
        <mat-card fxLayout="column" class="mat-elevation-z1" class="card">

            <form [formGroup]="formInfoCotizante" (ngSubmit)="enviarInfoCotizante()">
                <div fxLayout="row">
                    <div fxLayout="column" fxFlex="50" fxLayoutAlign="start center">
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Nombres</mat-label>
                                <input matInput type="text" formControlName="nombres">
                            </mat-form-field>
                        </p>
    
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Apellidos</mat-label>
                                <input matInput type="text" formControlName="apellidos">
                            </mat-form-field>
                        </p>
    
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" formControlName="email">
                            </mat-form-field>
                        </p>
    
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Identificación</mat-label>
                                <input matInput type="text" formControlName="identificacion">
                            </mat-form-field>
                        </p>
    
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Fecha Nacimiento</mat-label>
                                <input matInput type="text" formControlName="fechaNacimiento">
                            </mat-form-field>
                        </p>
    
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Fecha Entrada</mat-label>
                                <input matInput type="text" formControlName="fechaEntrada">
                            </mat-form-field>
                        </p>
    
                    </div>
    
                    <div fxLayout="column" fxFlex="50" fxLayoutAlign="start center">
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Fecha Salida</mat-label>
                                <input matInput type="text" formControlName="fechaSalida">
                            </mat-form-field>
                        </p>
    
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Cantidad Adultos</mat-label>
                                <input matInput type="text" formControlName="cantidadAdultos">
                            </mat-form-field>
                        </p>
    
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Cantidad Niños</mat-label>
                                <input matInput type="text" formControlName="cantidadNiños">
                            </mat-form-field>
                        </p>
    
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Cantidad Infantes</mat-label>
                                <input matInput type="text" formControlName="cantidadInfantes">
                            </mat-form-field>
                        </p>
    
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Destino</mat-label>
                                <input matInput type="text" formControlName="destino">
                            </mat-form-field>
                        </p>
    
                        <p>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Observaciones</mat-label>
                                <textarea type="text" formControlName="obervaciones" matInput rows="5"></textarea>
                            </mat-form-field>
                        </p>
                    </div>
                </div>
    
                <div fxLayout="row" fxLayoutAlign="center">
                    <button mat-raised-button color="primary" type="submit" class="btn-form">Guardar</button>
                </div>
            </form>

        </mat-card>
    </div>
</div>

<!-- <div class="container-card" fxLayout="row" fxLayoutAlign="center">

    <div fxLayout="column" fxLayoutAlign="center" fxFlex="47">
        <div class="div-header">
            <h3>Informacion Cotizante</h3>
        </div>
        <mat-card fxLayout="column" class="mat-elevation-z1" class="card">

            <div fxLayout="row">
                <div fxLayout="column" fxFlex="50" fxLayoutAlign="start center">
                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Nombres</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Apellidos</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Identificación</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Fecha Nacimiento</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Fecha Entrada</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </p>

                </div>

                <div fxLayout="column" fxFlex="50" fxLayoutAlign="start center">
                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Fecha Salida</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Cantidad Adultos</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Cantidad Niños</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Cantidad Infantes</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Destino</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Observaciones</mat-label>
                            <textarea matInput rows="5"></textarea>
                        </mat-form-field>
                    </p>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center">
                <button mat-raised-button color="primary" class="btn-form">Guardar</button>
            </div>
        </mat-card>
    </div>
</div> -->